
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Registration Form</title>

</head>
<style>
	.hi{
		color: green;
	}
	.ok{
		display: block;
		margin-left: 80px;
		margin-top: -15px;
		border: 1px solid black;
	}
	.gfg{
		margin-left: 30px;
		font-weight: bold;
	}
	.gf{
		margin-left: 10px;
		font-weight: bold;
	}
	.btn{
		margin-top: 20px;
		width: 80px;
		height: 25px;
		background-color: orangered;
		color: white;
	}
	.y{
		color: gray;
	}
</style>
<body>
<div class="container">
	<h2 class="hi" > GFG User Registration </h2>
	<h4 class="y" >Note : fill following details !</h4>
	<form action="{{ url_for('register') }}" method="post">
		{% if message is defined and message %}
			<div class="alert alert-warning"> <strong> {{ message }} ???? </strong></div>
		{% endif %}
		<br>
		<div class="form-group">
			<label class="gfg">Name:</label>
			<input class="ok" type="text" class="form-control" id="name" name="name" placeholder="Enter name" name="name">
		</div>
		<div class="form-group">
			<label class="gfg">Email:</label>
			<input class="ok" type="email" class="form-control" id="email" name="email" placeholder="Enter email" name="email">
		</div>
		<div class="form-group">
			<label class="gf">Password:</label>
		<input class="ok" type="password" class="form-control" id="password" name="password" placeholder="Enter password" name="pswd">
		</div>
		<button class="btn" type="submit" class="btn btn-primary">Register</button>
		<p class="bottom">Already have an account? <a class="bottom" href="{{url_for('login')}}"> Login here</a></p>
	</form>
</div>	
</body>
</html>
