
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Account</title>

</head>
<style>
.gfg{
	font-size: 25px;
	color: red;
	font-style: italic;
}
</style>
<body>
<div class="container">
	<div class="row">
		<h2>User Profile</h2>
	</div>
	<br>
	<div class="row">
		Logged in : <strong class="gfg"> {{session.name}} ???? </strong>| <a href="{{ url_for('logout') }}"> Logout</a>
	</div>
	<br><br>
	<div class="row">
		
		<h2>Welcome to the User profile page... ????</h2>
	</div>	
</div>
</body>
</html>
